{% extends "base.html" %}

{% block style %}
  <style>
    .hidden {
      display: none;
  }
#border{
  border: 2px solid black;
  margin-top:2% ;
  border-radius: 15px;
}
input{
  border-color: black !important;
}
.check-fields{
  display: flex; 
  justify-content: space-around; 
  margin-bottom: 5%;
}
@media(max-width:768px){
  .check-fields{
    flex-direction: column;
  }
}
.name{
  font-size: 3rem;
}
    section {
      display: flex;
      flex-direction: row;
    }

    body {
      background-color: #ecf8ff;
    }

    #imp {
      background-color: #ecf8ff !important;
    }

    #good {
      border: none !important;
      border-color: #ecf8ff !important;
    }

    h1 {
      background-color: #ecf8ff;
      font-size: 70px;

      color: #1c244b;
    }

    h2 {
      background-color: #ecf8ff;
    }

    .foot {
      background-color: #fff;
    }

    .hidden {
      display: none;
    }
  </style>
  <style>
    /* Center the buffering animation in the middle of the page */
    #buffering {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
</style>
{% endblock %}


{% block content %}
 
  <nav aria-label="breadcrumb" style="margin-left: 5%; margin-top: 3%">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Games</a></li>
      <li class="breadcrumb-item"><a href="#">Individual</a></li>
      <li class="breadcrumb-item active" aria-current="page">Badminton</li>
    </ol>
  </nav>
  <section class="gamesSection">
    <div class="container">
      <div class="row">

        <div class="col-12 col-md-6 col-lg-6">
          <h1>{{game}}</h1>
          <form>
      
            <label for="checkbox0">  {{ "Men's" if gender=='Male' else "Women's" }} single</label>
            <input type="checkbox" id="checkbox0" name="ch1" value="on d">
            <br>

            <label for="checkbox2"> {{ "Men's" if gender=='Male' else "Women's" }} Doubles</label>
            <input type="checkbox" id="checkbox2" name="ch2" value="off d">
            <div id="inputField2" class="hidden">
              <label>Enter email or unique id of 2nd Player</label>
              <input type="text" id="input1" placeholder="Enter email or unique id" oninput="autoSubmit(1)">
              <label>Details</label>
              <input type="text" id="output1">
            </div>

            <br>
            <label for="checkbox1">Mixed Doubles</label>
            <input type="checkbox" id="checkbox1">
            <div id="inputField1" class="hidden">
              <label>Enter email or unique id of 2nd Player</label>
              <input type="text" id="input2" placeholder="Enter email or unique id" oninput="autoSubmitcat(2)">
              <label>Details</label>
              <input type="text" id="output2" placeholder=" email 1">

            </div><br />
            <button class="btn btn-primary" style="margin-top: 3%;" id="formregister">Submit</button>
            <br>
          </form>
          <!-- Divs to hold the input fields -->

          <div id="buffering">
            <i class="fas fa-spinner fa-spin fa-3x"></i>
          </div>

           </div>
        <div class="col-12 col-md-6 col-lg-6">
          <img src="{{url_for('static',filename='images/imagame.webp')}}" height="100%" width="100%" class="mt-1" />
        </div>

      </div>

    </div>



  </section>
{% endblock %}

  {% block script %}
          <script>
            // Get references to the checkboxes and input fields
            const checkbox1 = document.getElementById('checkbox1');
            const checkbox2 = document.getElementById('checkbox2');
            const inputField1 = document.getElementById('inputField1');
            const inputField2 = document.getElementById('inputField2');

            // Add event listeners to the checkboxes
            checkbox1.addEventListener('change', function () {
              // If checkbox1 is checked, show its corresponding input field
              if (checkbox1.checked) {
                inputField1.classList.remove('hidden');
              } else {
                inputField1.classList.add('hidden');
              }
            });

            checkbox2.addEventListener('change', function () {
              // If checkbox2 is checked, show its corresponding input field
              if (checkbox2.checked) {
                inputField2.classList.remove('hidden');
              } else {
                inputField2.classList.add('hidden');
              }
            });

          </script>

<script>
  function autoSubmit(inputNumber) {
   
      const inputValue = document.getElementById(`input${inputNumber}`).value;
      // Here, you can perform any necessary processing on the inputValue before setting it in the output field.
      // For simplicity, we'll just set it directly.
      document.getElementById(`output${inputNumber}`).value = inputValue;

      // Send the data to the Flask route using AJAX
      $.ajax({
          url: "{{url_for('individual_update',game=game)}}",
          method: 'POST',
          data: {inputValue: inputValue,
            gender:"{{gender}}",
            category:"{{ds}}"

              },
          success: function(response) {
              // Update the corresponding output field with the response from the server
              document.getElementById(`output${inputNumber}`).value = response.outputValue;
              if(response.outputValue== "Id not found"|| response.outputValue=="User Registered to other team" || response.outputValue=='You cannot add yourself.' || response.outputValue=='Cannot add other gender in team' || response.outputValue=='age greater than 50 cannot add' ||response.outputValue=='age less than 50 cannot add' )
                  document.getElementById(`output${inputNumber}`).readOnly=false
              else   
                  document.getElementById(`output${inputNumber}`).readOnly=true

          },
          error: function(error) {
              // Handle errors if any
              console.error(error);
          }
      });
  }
</script>
<script>
  function autoSubmitcat(inputNumber) {
      const inputValue = document.getElementById(`input${inputNumber}`).value;
      // Here, you can perform any necessary processing on the inputValue before setting it in the output field.
      // For simplicity, we'll just set it directly.
      document.getElementById(`output${inputNumber}`).value = inputValue;

      // Send the data to the Flask route using AJAX
      $.ajax({
          url: "{{url_for('individual_update',game=game)}}",
          method: 'POST',
          data: {inputValue: inputValue,
            gender:"{{gender}}",
            category:"Mixed Doubles"

              },
          success: function(response) {

              // Update the corresponding output field with the response from the server
              document.getElementById(`output${inputNumber}`).value = response.outputValue;
              if(response.outputValue== "Id not found"|| response.outputValue=="User Registered to other team" || response.outputValue=='You cannot add yourself.' || response.outputValue=='Cannot add other gender in team' || response.outputValue=='age greater than 50 cannot add' ||response.outputValue=='age less than 50 cannot add' )
                  document.getElementById(`output${inputNumber}`).readOnly=false
              else   
                  document.getElementById(`output${inputNumber}`).readOnly=true

          },
          error: function(error) {
              // Handle errors if any
              console.error(error);
          }
      });
  }
</script>
<script>
  function isCheckboxChecked(ele) {
    var isTicked = document.getElementById(ele).checked;
    return isTicked;
  }
  $(document).ready(function() {
    // Handle form submission using AJAX
    $("#formregister").click(function(event) {
      event.preventDefault(); // Prevent default form submission
      var input1 = $("#input1").val();
      var output1 = $('#output1').val();
      var input2 = $('#input2').val();
      var output2 = $('#output2').val();
      var c1=isCheckboxChecked('checkbox0');
      var c2=isCheckboxChecked('checkbox1');
      var c3=isCheckboxChecked('checkbox2');


      if(output1== "Id not found"|| output1=="User Registered to other team" || output1=='You cannot add yourself.' || output1=='Cannot add other gender in team' || output1=='age greater than 50 cannot add' || output1=='age less than 50 cannot add' || output2== "Id not found"|| output2=="User Registered to other team" || output2=='You cannot add yourself.' || output2=='Cannot add other gender in team' || output2=='age greater than 50 cannot add' || output2=='age less than 50 cannot add'){
        alert(output1)
      
      }
      else{

     

             
      $("#formregister").prop("disabled", true);
      $("#buffering").show();
      $.ajax({
        type: "POST",
        url: "{{url_for('registeredgame',game=game)}}",
        data: {
          singles:c1,
          doubles:c2,
          mixed:c3,
          input1 : input1,
          output1 : output1,
          input2:input2,
          output2 : output2,
        },
        success: function(response) {
          
          
          $("#buffering").hide();
          $("#formregister").prop("disabled", false);


          
        },
        error: function(err) {
          // Hide buffering animation
          $("#buffering").hide();
          console.log(err);
          $("#formregister").prop("disabled", false);


          // Enable the "Generate OTP" button
          //$("#generateOTP").prop("disabled", false);
        }
      });
              
    }
    });
    
  });
</script>

{% endblock %}

