{% extends "base.html" %}

{% block style %}

<style>

@keyframes scaleAnimation {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); /* You can adjust the scale factor as per your preference */
    }
  }
  
  .registerBtn {
    display: inline-block;
    padding: 5px 20px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: blue;
    color: white;
    border-radius: 2px;
  }
  
  .registerBtn {
    animation: scaleAnimation 2s infinite;
  }

.gamesSection{
    width: 90%;
    margin: 100px auto;
}
.cardContainer{
    display: flex;
    flex-wrap:wrap ;
    gap: 80px;
    justify-content: center;
    align-items: center;
}
.gameCard{
    width: 250px;
    height: 320px;
    display: flex;
    flex-direction: column;

    align-items: center;
    border: 1px solid rgb(209, 209, 209);
}
.gameCard .text{
    font-weight: 600;
     font-family: monospace;
     font-size: 15px;
     text-align: left;
     margin: 20px 0px;
}
.option{
    background-color: bisque;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 10px;
}
.gameCard img{
    width: 100%;
    height: 170px;
}
.addNewGames{
    margin-top: 180px;
}
footer{
    margin-top: 200px;
}
.quickLinks {
    margin-top: 20px;
}
.list-unstyled>li {
    color:grey;
}
.quickLinks a{
text-decoration: none;
color: grey;
}

.quickLinks a:hover{
    text-decoration: none;
    color: black;
    }


.socialLinks {
    font-weight: bold;
    color:lightseagreen;
}

.message {
    font-size: 30px;
}

  .codegnan {
    color: white;
    text-decoration: none;
  }

</style>

{% endblock %}

{% block content %}

{% include 'dashboard-head.html' %}

<section class="gamesSection">
    <h2>Registered Games</h2><br />
    <div class="container">
        <div class="row">
            {% for i in games %}
            <div class="card col-12 col-md-3 m-3" style="width: 15rem;">
                <img src="{{url_for('static',filename=i[0]+'.webp')}}" class="card-img-top p-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{i[0]}}</h5>
                    {% if i[1]>=5000 %}
                    <a href="{{url_for('registeredgame',game=i[0])}}" class="btn btn-primary">Select Options</a>
                    {% else %}
                    <a href="{{url_for('registeronteam')}}" class="btn btn-primary">Select Options</a>
                    {% endif %}

                </div>
            </div>
            {% endfor %}
        </div>

    </div><br />


    <h2>Add On Games</h2><br />
    <h2>Individual Games</h2>
    <div class="container">
        <!-- 1 -->
        <div class="row">
            {% for i in add_individual_games %}
            <div class="card col-12 col-md-3 m-3" style="width: 15rem;">
                <img src="{{url_for('static',filename=i[0]+'.webp')}}" class="card-img-top p-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{i[0]}}</h5>
                    <a href="{{url_for('buyaddon')}}" class="btn btn-primary">Select Options</a>
                </div>
            </div>
            {% endfor %}
            
            <div>
                <h2>Team Games</h2><br />
                <div class="container">
                    <!-- 1 -->
                    <div class="row">
                        {% for i in add_teams_games %}
                        <div class="card col-12 col-md-3 m-3" style="width: 15rem;">
                    <img src="{{url_for('static',filename=i[0]+'.webp')}}" class="card-img-top p-2" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{i[0]}}</h5>
                        <a href="{{url_for('buyaddon')}}" class="btn btn-primary">Select Options</a>
                        </div>
                    </div>
                {% endfor %}
                        
            </div>

        </div>
    </div>

            
</section>


{% endblock %}

{% block script %}
<script src="https://kit.fontawesome.com/ea6d4fec5e.js" crossorigin="anonymous"></script>
{% endblock %}
