{% extends 'base.html' %}
{% block style %}
<style>
    .shirt-dropdown {
        position: relative;
        top: 300px;
        left: 20px;
    }

    .shirt-image {
        display: none;
    }

    .shirt-image-show {
        display: block;
        width: 30vw;
        position: absolute;
        top: 800px;
        left: 50px;
    }

    @media(max-width:576px) {
        .shirt-image {
            width: 90%;
        }

        .shirt-image-show {
            top: 1800px;
        }
    }

    .form-label {
        font-weight: 500;
    }

    /* Center the buffering animation in the middle of the page */
    #buffering {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
</style>
{% endblock %}



{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">

            <img src="{{url_for('static', filename='images/login-thumb.webp')}}" class="left-logo" />

        </div>
        <div class="col-12 col-md-6">
            <h1 align="center" style="color:navy;margin-top: 2%;">REGISTER</h1>
            <form method="POST" class="register-new" style="background-color: rgba(206,238,255,0.7)">
                <div class="container w-100 h-100">
                    <div class="row">

                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="firstName">First Name<span
                                        style="color: red;">*</span></label>
                                <input type="text" name="fname" id="fname" class="form-control form-control-lg"
                                    placeholder="Enter First Name" required/>

                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="firstName">Last Name<span
                                        style="color: red;">*</span></label>
                                <input type="text" name="lname" id="lname" class="form-control form-control-lg"
                                    placeholder="Enter Last Name"  required />

                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="firstName">Email<span
                                        style="color: red;">*</span></label>
                                <input type="email" name="email" id="email" class="form-control form-control-lg"
                                    placeholder="Enter Email"  required />

                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="firstName">Password must carry 8 characters<span
                                        style="color: red;">*</span></label>
                                <input type="password" name="password" id="password" class="form-control form-control-lg"
                                    placeholder="Enter Password" required />

                            </div>
                        </div>
                    </div>

                    <div class="row">


                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="firstName">Mobile Number<span
                                        style="color: red;">*</span></label>
                                <input type="text" name="mobile" id="mobile" class="form-control form-control-lg"
                                    placeholder="Enter Mobile Number" required />

                            </div>
                        </div>

                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="firstName">Age<span style="color: red;">*</span></label>
                                <input type="text" name="age" id="age" class="form-control form-control-lg"
                                    placeholder="Enter Age"  required />

                            </div>
                        </div>
                    </div>

                    <div class="row">


                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="firstName">Gender<span
                                        style="color: red;">*</span></label>
                                <select class="form-select" aria-label="Default select example" name="gender"
                                    id="gender" required   >
                                    <option selected>Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="firstName">Date Of Birth<span
                                        style="color: red;">*</span></label>
                                <input type="date" name="dob" id="dob" class="form-control form-control-lg"
                                    placeholder="Enter Date of Birth" required />

                            </div>
                        </div>
                    </div>

                    <div class="row">


                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="firstName">City<span style="color: red;">*</span></label>
                                <input type="text" name="city" id="city" class="form-control form-control-lg"
                                    placeholder="Enter City" required/>

                            </div>
                        </div>

                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="firstName">Address<span
                                        style="color: red;">*</span></label>
                                <input type="text" name="address" id="address" class="form-control form-control-lg"
                                    placeholder="Enter Address" required/>

                            </div>
                        </div>
                    </div>

                    <div class="row">


                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="firstName">State<span
                                        style="color: red;">*</span></label>
                                <select class="form-select" aria-label="Default select example" name="state" id="state" required>
                                    <option selected>Select State</option>
                                    <option value="" disabled selected>Select Your state</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="firstName">Country<span
                                        style="color: red;">*</span></label>
                                <select class="form-select" aria-label="Default select example" name="country"
                                    id="country" required >
                                    <option value="India">India</option>

                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">


                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="firstName">Degree-MBBS(Compulsory)<span
                                        style="color: red;">*</span></label>
                                <select class="form-select" aria-label="Default select example" name="degree"
                                    id="degree" required >
                                    <option selected>Select Degree</option>
                                    <option selected>MBBS</option>
                                    <option value="MD">MD</option>
                                    <option value="MS">MS</option>
                                    <option value="DNB">DNB</option>
                                    <option value="Diploma">Diploma</option>
                                    <option value="DM">DM</option>
                                    <option value="MCH">MCH</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="firstName">State or MCI Registration No<span
                                        style="color: red;">*</span></label>

                                <input type="text" name="mci" id="mci" class="form-control form-control-lg"
                                    placeholder="Enter Registration No" required />

                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="firstName">Select Member<span
                                        style="color: red;">*</span></label>


                                <select class="form-select" aria-label="Default select example" name="selectmember"
                                    onchange="imember()" id="selectmember" required >
                                    <option selected>Select Member</option>

                                    <option value="IMA Member">IMA Member-3500/</option>
                                    <option value="Non IMA Member">Non IMA Member-4000/</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="firstName">Select Game<span
                                        style="color: red;">*</span></label>

                                <select class="form-select" aria-label="Default select example" name="game" id="game" required>
                                    <option value="" disabled selected>Select game</option>
                                    <option value="ATHLETICS">ATHLETICS</option>
                                    <option value="ARCHERY">ARCHERY</option>
                                    <option value="BADMINTON">BADMINTON</option>
                                    <option value="BALL BADMINTON">BALL BADMINTON</option>
                                    <option value="BASKETBALL">BASKET BALL</option>
                                    <option value="CARROMS">CARROMS</option>
                                    <option value="CHESS">CHESS</option>
                                    <option value="CRICKET WHITE BALL">CRICKET WHITE BALL</option>
                                    <option value="HARD TENNIS CRICKET">HARD TENNIS CRICKET</option>
                                    <option value="WOMEN BOX CRICKET">WOMEN BOX CRICKET</option>
                                    <option value="CYCLOTHON">CYCLOTHON</option>
                                    <option value="FENCING">FENCING</option>
                                    <option value="FOOTBALL">FOOT BALL</option>
                                    <option value="KABADDI">KABADDI</option>
                                    <option value="KHO KHO">KHO KHO</option>
                                    <option value="LAWN TENNIS">LAWN TENNIS</option>
                                    <option value="ROLLER SKATING">ROLLER SKATING</option>
                                    <option value="ROWING">ROWING</option>
                                    <option value="SHOOTING">SHOOTING</option>
                                    <option value="SWIMMING">SWIMMING</option>
                                    <option value="TABLE TENNIS">TABLE TENNIS</option>
                                    <option value="TENNIKOIT">TENNIKOIT</option>
                                    <option value="THROW">THROW</option>
                                    <option value="TUG OF WAR">TUG OF WAR</option>
                                    <option value="VOLLEY BALL">VOLLEY BALL</option>

                                </select>
                            </div>
                        </div>
                    </div>



                    <div class="row">


                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" for="firstName">Select Shirt Size<span
                                        style="color: red;">*</span></label>
                                <select class="form-select" onclick="showShirt()" id="shirt-dropdown-id"
                                    aria-label="Default select example">
                                    <option selected>Select Shirt Size</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="XXL">XXL</option>
                                    <option value="XXXL">XXXL</option>
                                    <option value="XXXXL">XXXXL</option>
                                </select>

                            </div>
                            <img src="{{url_for('static', filename='images/T-Shirts.jpg')}}" width id="shirt" class="shirt-image" />
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label for="formFile" class="form-label" id="display-which-certificate">Upload
                                    certificate below 5MB</label>
                                <input class="form-control" type="file" name="certificate" id="certificate" required>

                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label for="formFile" class="form-label">Upload Photo below 5MB .jpg png jpeg</label>
                                <input class="form-control" type="file" name="photo" id="photo" required>

                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">

                                <label for="formFile" class="form-label">Upload DOB Certificate below 5MB</label>
                                <input class="form-control" type="file" name="dobfile" id="dobfile" required>

                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3 mb-4">
                            <div class="form-outline">
                                <button id ="generateOTP" class="btn btn-success">Send OTP</button>

                            </div>
                        </div>
                        <div class="col-md-9 mb-4">
                            <div class="form-outline">
                                <input class="form-control" placeholder="Enter your OTP" name="otp" id='otp' required>
                            </div>
                            <div id="buffering">
                                <i class="fas fa-spinner fa-spin fa-3x"></i>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-7 mb-4">

                    </div>

                    <div class="btn btn-primary col-md-12 mb-4" id="formregister">
                        Register
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="buffering">
    <i class="fas fa-spinner fa-spin fa-3x"></i>
</div>

{% endblock %}

{% block script %}
<script>
    let s = true;
    function showShirt() {
        //alert();

        var shirtValue = document.getElementById("shirt-dropdown-id").value;
        console.log(shirtValue, s)
        if (shirtValue == "" && s == true || shirtValue != "" && s == true) {
            document.getElementById("shirt").classList.add("shirt-image-show");
            s = false;
        }
        else if (shirtValue != "" && s == false) {
            document.getElementById("shirt").classList.remove("shirt-image-show");
            s = true;
        }
    }

</script>
<script>
    function valid() {
        var password = document.getElementById("password").value
        var mobile = document.getElementById("mobile").value;
        var email = document.getElementById("email").value
        var 
        var mobileCheck = /^[0-9]{10}$/
        var emailCheck = /^[a-zA-Z0-9.]+@[a-z]+\.[a-z]{2,3}$/
        if (password == "" || password.length < 8) {
            alert("Password must carry 8 characters")
            return false;
        }
        if (!mobile.match(mobileCheck)) {
            alert("Mobile number must carry 10 digits")
            return false
        }
        if (!email.match(emailCheck)) {
            alert("Please provide proper email id")
            return false
        }
        return false;
    }
</script>

<script>
    // JavaScript code to display the alert
    var message = "{{ message }}";
    if (!message == '') {
        alert(message);
    }
</script>


<script>
    $(document).ready(function () {
        // Handle form submission using AJAX
        $("#formregister").click(function () {

            var email = $("#email").val();
            var fname = $('#fname').val();
            var lname = $('#lname').val();
            var password = $('#password').val();
            var mobile = $('#mobile').val();
            var age = $('#age').val();
            var gender = $('#gender').val();
            var dob = $('#dob').val();
            var city = $('#city').val();
            var address = $('#address').val();
            var state = $('#state').val();
            var country = $('#country').val();
            var degree = $('#degree').val();
            var mci = $('#mci').val();
            var game = $('#game').val();
            var selectmember = $('#selectmember').val();
            var shirtsize = $('#shirtsize').val();
            var otp = $('#otp').val();
            var certificate = $('#certificate')[0].files[0];
            var photo = $('#photo')[0].files[0];
            var dobfile = $('#dobfile')[0].files[0];


            if (otp == "") {
                alert("Please enter the otp");
                return false
            }
            $.ajax({
                type: "POST",
                url: "/register/Yes",
                data: {
                    fname: fname,
                    email: email,
                    lname: lname,
                    password: password,
                    mobile: mobile,
                    gender: gender,
                    dob: dob,
                    age: age,
                    city: city,
                    state: state,
                    country: country,
                    degree: degree,
                    mci: mci,
                    game: game,
                    shirtsize: shirtsize,
                    otp: otp,
                    certificate: certificate,
                    photo: photo,
                    selectmember: selectmember,
                    address: address,
                    dobfile: dobfile,
                },
                processData:false,
                contentType:false,
                success: function (response) {

                    // Hide buffering animation
                    alert(response);

                },
                error: function (err) {
                    // Hide buffering animation
                    $("#buffering").hide();
                    console.log(err);

                    // Enable the "Generate OTP" button
                    //$("#generateOTP").prop("disabled", false);
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Handle form submission using AJAX
        $("#generateOTP").click(function (e) {
            e.preventDefault()
            //var name = $("#name").val();
            var email = $("#email").val();
            //var address = $("#address").val();
            if (email == "") {
                alert("Enter email id");
                return false
            }
            // Disable the "Generate OTP" button
            $("#generateOTP").prop("disabled", true);
            // Disable the email field
            //$("#email").prop("disabled", true);

            // Show buffering animation
            $("#buffering").show();

            $.ajax({
                type: "POST",
                url: "/generate_otp",
                data: {

                    email: email,

                },
                success: function (response) {
                    // Hide buffering animation
                    $("#buffering").hide();

                    alert(response.message);
                    $("#generateOTP").prop("disabled", false);


                    // Enable the "Generate OTP" button
                },
                error: function (err) {
                    // Hide buffering animation
                    $("#buffering").hide();
                    alert('Error in sending otp,try again');
                    $("#generateOTP").prop("disabled", false);

                    // Enable the "Generate OTP" button
                }
            });
        });
    });
</script>
<script>
    function imember() {

        var x = document.getElementById("selectmember").value;
        if (x == "Non IMA Member")
            document.getElementById("display-which-certificate").innerHTML = "Upload MBBS Certificate";
        else if (x == "IMA Member")
            document.getElementById("display-which-certificate").innerHTML = "Upload IMA or MBBS Certificate";
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}
