<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basket Ball</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <style>
      section {
        display: flex;
        flex-direction: row;
      }
      body {
        background-color: #ecf8ff;
      }
      #imp {
        background-color: #ecf8ff !important;
      }
      #good {
        border: none !important;
        border-color: #ecf8ff !important ;
      }
      h1 {
        background-color: #ecf8ff;
        font-size: 70px;
        letter-spacing: 0.1em;
        color: #1c244b;
      }
      h2 {
        background-color: #ecf8ff;
      }
      .foot {
        background-color: #fff;
      }
    </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <style>
      /* Center the buffering animation in the middle of the page */
      #buffering {
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: none;
      }
  </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm py-3">
      <div class="container-fluid px-4">
        <a class="navbar-brand" href="#"
          ><img src="images/logo.webp" width="400px" alt=""
        /></a>
        <button
          class="navToggleBtn"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="bi bi-list"></i>
        </button>
        <div
          class="collapse navbar-collapse navbar_menus"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-wrap">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>

            <li class="bar"></li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <b>Managment Committee</b>
              </a>
              <ul class="dropdown-menu">
                <li class="m-0">
                  <a class="dropdown-item" href="#"
                    ><b>NATIONAL COMMITTEE</b></a
                  >
                </li>
                <li class="m-0">
                  <a class="dropdown-item" href="#">IMA AP STATE COMMITTEE</a>
                </li>
              </ul>
            </li>
            <li class="bar"></li>

            <li class="nav-item">
              <a class="nav-link"> <b>Rules</b></a>
            </li>
            <li class="bar"></li>

            <li class="nav-item">
              <a class="nav-link"><b>Contact</b> </a>
            </li>

            <li class="bar"></li>

            <li class="nav-item">
              <a class="nav-link"><b>Venue/Sports Schedule</b></a>
            </li>

            <li class="bar"></li>

            <li class="nav-item">
              <a class="nav-link"><b>Games & Subgames</b> </a>
            </li>

            <li class="bar"></li>

            <li class="nav-item mt-1">
              <a class="nav-link"><b>Login</b></a>
            </li>

            <li class="bar"></li>

            <li class="mt-2">
              <a class="registerBtn" href="/register"><b>Register</b></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <nav aria-label="breadcrumb" style="margin-left: 5%; margin-top: 3%">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Basket Ball</li>
      </ol>
    </nav>
    <section class="gamesSection">
      <div class="container py-5 h-100 col-12 col-lg-6">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
            <div
              class="card shadow-2-strong card-registration"
              style="border-radius: 15px"
              id="good"
            >
              <h1>BASKET BALL</h1>
              <h2>Enter Team Details</h2>

              <div class="card-body p-4 p-md-5" id="imp">
                <form>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="input1"
                          name="n1"
                          oninput="autoSubmit(1)"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="firstName"
                          >Enter Details or unique Id</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="output1"
                          name="n2"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="lastName">Details</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="Details"
                          id="input2"
                          name="n3"
                          oninput="autoSubmit(2)"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="DetailsAddress"
                          >Enter Details or unique Id</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="tel"
                          id="output2"
                          name="n3"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="phoneNumber"
                          >Details</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="input3"
                          name="n4"
                          oninput="autoSubmit(3)"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="firstName"
                          >Enter Details or unique Id</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="output3"
                          name="n5"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="lastName">Details</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="Details"
                          id="input4"
                          name="n6"
                          oninput="autoSubmit(4)"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="DetailsAddress"
                          >Enter Details or unique Id</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="tel"
                          id="output4"
                          name="n7"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="phoneNumber"
                          >Details</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="input5"
                          name="n8"
                          oninput="autoSubmit(5)"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="firstName"
                          >Enter Details or unique Id</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="output5"
                          name="n9"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="lastName">Details</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="Details"
                          id="input6"
                          name="n10"
                          oninput="autoSubmit(6)"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="DetailsAddress"
                          >Enter Details or unique Id</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="tel"
                          id="output6"
                          name="n11"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="phoneNumber"
                          >Details</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="input7"
                          name="n12"
                          oninput="autoSubmit(7)"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="firstName"
                          >Enter Details or unique Id</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="output7"
                          name="n13"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="lastName">Details</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="input8"
                          name="n14"
                          oninput="autoSubmit(8)"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="firstName"
                          >Enter Details or unique Id</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="output8"
                          name="15"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="lastName">Details</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="input9"
                          name="n16"
                          oninput="autoSubmit(9)"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="firstName"
                          >Enter Details or unique Id</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="output9"
                          name="n17"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="lastName">Details</label>
                      </div>
                    </div>
                  </div>
                  <div class="mt-4 pt-2">
                    <!-- <input
                      class="btn btn-primary btn-lg"
                      type="submit"
                      value="Submit"
                    /> -->
                    <button  class="btn btn-primary btn-lg" id="formregister">submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="imageries col-12 col-lg-6">
        <img src="images/IMA  LOGO  Page Design.png" height="50%" width="70%" />
      </div>
    </section>
    <footer class="foot py-4">
      <div class="container">
        <div class="row footer_row justify-content-between">
          <div class="col-12 col-md-4 mb-4">
            <img src="images/logo.webp" alt="Logo" class="img-fluid mb-3" />
            <p>
              <b>Unite, Compete, Excel - Our Nation's Passion for Sports</b>
            </p>
            <div class="socialLinks d-flex flex-column">
              <span
                ><i class="fa fa-envelope"> </i> Email:
                doctorsolympaid2023@gmail.com</span
              ><br />
              <span><i class="bi bi-telephone"></i> Phone: 9759434567</span
              ><br />
              <span><i class="bi bi-telephone"></i> Mobile: 9759634567</span
              ><br />
            </div>
            <div class="message d-flex gap-1">
              <a
                href="https://api.whatsapp.com/send?phone=YOUR_WHATSAPP_NUMBER"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-whatsapp text-success"></i>
              </a>
              <a
                href="https://www.instagram.com/YOUR_INSTAGRAM_ACCOUNT"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-instagram text-danger"></i>
              </a>
            </div>
          </div>
          <div class="col-12 col-md-3 mb-4">
            <h2 style="background-color: #fff">Get In Touch</h2>
            <p>Indian Medical Association VIJAYAWADA Branch</p>
            <span
              >DOCTORS SPORTS ACADEMY D.No.14: Beside GEMS Public School</span
            >
            <span
              >Kaza Village, Mangalagiri Mandal, Guntur District, Andhra
              Pradesh</span
            >
          </div>
          <div class="col-12 col-md-3 mb-4">
            <h2 style="background-color: #fff">Quick Links</h2>
            <ul class="list-unstyled quickLinks">
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Return & Refund Policy</a></li>
              <li><a href="#">Cancellation Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <div class="subFooter text-center bg-primary text-white py-1">
      <h4>
        <a href="https://www.codegnan.com" class="codegnan"
          >Designed By Codegnan</a
        >
        &#169; All Right Reserved
      </h4>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <div id="buffering">
		<i class="fas fa-spinner fa-spin fa-3x"></i>
	</div>

    <!-- Add more corresponding input tags here -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function autoSubmit(inputNumber) {
            const inputValue = document.getElementById(`input${inputNumber}`).value;
            // Here, you can perform any necessary processing on the inputValue before setting it in the output field.
            // For simplicity, we'll just set it directly.
            document.getElementById(`output${inputNumber}`).value = inputValue;

            // Send the data to the Flask route using AJAX
            $.ajax({
                url: "{{url_for('update',game=game)}}",
                method: 'POST',
                data: {inputValue: inputValue,
                    gender:"{{gender}}",
                    },
                success: function(response) {
                    // Update the corresponding output field with the response from the server
                    document.getElementById(`output${inputNumber}`).value = response.outputValue;
                   
                    document.getElementById(`output${inputNumber}`).readOnly=true

                },
                error: function(error) {
                    // Handle errors if any
                    console.error(error);
                }
            });
        }
    </script>
	<script>
		$(document).ready(function() {
			// Handle form submission using AJAX
			$("#formregister").click(function(event) {
				event.preventDefault(); // Prevent default form submission

				var input1 = $("#input1").val();
				var output1 = $('#output1').val();
				var input2 = $('#input2').val();
				var output2 = $('#output2').val();
				var input3 = $('#input3').val();
				var output3 = $('#output3').val();
				var input4 = $('#input4').val();
				var output4 = $('#output4').val();
				var input5 = $('#input5').val(); 
				var output5 = $('#output5').val(); 
				var input6 = $('#input6').val(); 
				var output6 = $('#output6').val(); 
				var input7 = $('#input7').val(); 
				var output7 = $('#output7').val(); 
                if (input1=="" || output1=="" || input2=="" || output2=="" || output3=="" || input3=="" || output4==""|| input4=="" ||input5==""|| output5=="" || output6=="" || input6=="" || output7=="" || input7=="")
                {
                    alert("Please fill all fields")
                    return false;
                }
				else{
                    
				$("#formregister").prop("disabled", true);
				$("#buffering").show();
				$.ajax({
					type: "POST",
					url: "{{url_for('registeredgame',game=game)}}",
					data: {
						input1 : input1,
						output1 : output1,
						input2:input2,
						output2 : output2,
						input3 : input3,
						output3 : output3,
						input4 : input4,
						output4: output4,
						input5 : input5,
						output5 : output5,
						input6 : input6,
						output6 :output6,
						input7:input7,
						output7:output7,
					},
					success: function(response) {
						
						
						alert(response.message);
						$("#buffering").hide();
						$("#formregister").prop("disabled", false);


						
					},
					error: function(err) {
						// Hide buffering animation
						$("#buffering").hide();
						console.log(err);
						$("#formregister").prop("disabled", false);


						// Enable the "Generate OTP" button
						//$("#generateOTP").prop("disabled", false);
					}
				});
                }

			});
		});
	</script>
  </body>
</html>
