{% extends "base.html" %}


{% block style %}
<style>
section {
display: flex;
flex-direction: row;
}
body {
background-color: #ecf8ff;
}

.gamesSection{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#imp {
background-color: #ecf8ff !important;
}
#good {
border: none !important;
border-color: #ecf8ff !important ;
}
h1 {

font-size: 60px !important;

color: #1c244b;
text-align: center;
}
h2 {

}
.foot {
background-color: #fff;
}
@media screen and (max-width:768px){
   .classs{
     margin-left: 3% !important;
   }
   .imageries{
    display: none !important;
   }
}
.god{
    background-color:#ecf8ff !important;
}
#badminton{
    width:50vw !important;
    margin-left: -110% !important;
}
        /* Center the buffering animation in the middle of the page */
        #buffering {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
        }
</style>

{% endblock %}



{% block content %}
<div id="buffering">
		<i class="fas fa-spinner fa-spin fa-3x"></i>
	</div>
<nav aria-label="breadcrumb" style="margin-left: 5%; margin-top: 3%">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">BALL BADMINTON</li>
    </ol>
</nav>
<section class="gamesSection">
    <div class="container py-5 h-100 col-12 col-lg-9 classs" style="margin-left: -15%;">
        <div class="row justify-content-center align-items-center h-100 ">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px" id="good">
                   <div class="god">
                    <h1 style="font-size:50px">BALL BADMINTON</h1>
                    <h2 style="text-align: center;">Enter Team Details</h2>

                   </div>
                    <div class="card-body p-2 p-md-5" id="imp">
                        <form method="POST">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="input1" name="input1" oninput="autoSubmit(1)"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="firstName">Enter Email or Unique Id</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="output1" name="output1"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="lastName">Details</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <input type="Details" id="input2" name="input2" oninput="autoSubmit(2)"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="DetailsAddress">Enter Email or Unique Id
                                            </label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <input type="tel" id="output2" name="n3" class="form-control form-control-lg" />
                                        <label class="form-label" for="phoneNumber">Details</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="input3" name="n4" oninput="autoSubmit(3)"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="firstName">Enter Email or Unique Id</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="output3" name="n5"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="lastName">Details</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <input type="Details" id="input4" name="n6" oninput="autoSubmit(4)"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="DetailsAddress">Enter Email or Unique Id</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <input type="tel" id="output4" name="n7" class="form-control form-control-lg" />
                                        <label class="form-label" for="phoneNumber">Details</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="input5" name="n8" oninput="autoSubmit(5)"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="firstName">Enter Email or Unique Id</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="output5" name="n9"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="lastName">Details</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <input type="Details" id="input6" name="n10" oninput="autoSubmit(6)"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="DetailsAddress">Enter Email or Unique Id</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <input type="tel" id="output6" name="n11"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="phoneNumber">Details</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 pt-2">
                                <button class="btn btn-primary btn-lg" id="formregister">submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="imageries col-12 col-lg-3" style=" margin-top:10%">
        <img src="{{url_for('static', filename='images/IMA  LOGO  Page Design.png')}}"  alt="imageries" id="badminton"/>
    </div>
</section>


{% endblock %}

{% block script %}


    <!-- Add more corresponding input tags here -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function autoSubmit(inputNumber) {
            const inputValue = document.getElementById(`input${inputNumber}`).value;
            // Here, you can perform any necessary processing on the inputValue before setting it in the output field.
            // For simplicity, we'll just set it directly.
            document.getElementById(`output${inputNumber}`).value = inputValue;

            // Send the data to the Flask route using AJAX
            $.ajax({
                url: "{{url_for('update',game=game)}}",
                method: 'POST',
                data: {inputValue: inputValue,
                    gender:"{{gender}}",
                    },
                success: function(response) {
                    // Update the corresponding output field with the response from the server
                    document.getElementById(`output${inputNumber}`).value = response.outputValue;
                   
                    document.getElementById(`output${inputNumber}`).readOnly=true

                },
                error: function(error) {
                    // Handle errors if any
                    console.error(error);
                }
            });
        }
    </script>
	<script>
		$(document).ready(function() {
			// Handle form submission using AJAX
			$("#formregister").click(function(event) {
				event.preventDefault(); // Prevent default form submission

				var input1 = $("#input1").val();
				var output1 = $('#output1').val();
				var input2 = $('#input2').val();
				var output2 = $('#output2').val();
				var input3 = $('#input3').val();
				var output3 = $('#output3').val();
				var input4 = $('#input4').val();
				var output4 = $('#output4').val();
				var input5 = $('#input5').val(); 
				var output5 = $('#output5').val(); 
				var input6 = $('#input6').val(); 
				var output6 = $('#output6').val(); 
                if (input1=="" || output1=="" || input2=="" || output2=="" || output3=="" || input3=="" || output4==""|| input4=="" ||input5==""|| output5=="" || output6=="" || input6=="" )
                {
                    alert("Please fill all fields")
                    return false;
                }
				else{
                    
				$("#formregister").prop("disabled", true);
				$("#buffering").show();
				$.ajax({
					type: "POST",
					url: "{{url_for('registeredgame',game=game)}}",
					data: {
						input1 : input1,
						output1 : output1,
						input2:input2,
						output2 : output2,
						input3 : input3,
						output3 : output3,
						input4 : input4,
						output4: output4,
						input5 : input5,
						output5 : output5,
						input6 : input6,
						output6 :output6,
	
					},
					success: function(response) {
						
						
						alert(response.message);
						$("#buffering").hide();
						$("#formregister").prop("disabled", false);


						
					},
					error: function(err) {
						// Hide buffering animation
						$("#buffering").hide();
						console.log(err);
						$("#formregister").prop("disabled", false);


						// Enable the "Generate OTP" button
						//$("#generateOTP").prop("disabled", false);
					}
				});
                }

			});
		});
	</script>

{% endblock %}
